<p id="notice"><%= notice %></p>

<p>
  <strong>Cf:</strong>
  <%= @invoice.cf %>
</p>

<p>
  <strong>Invoicenumber:</strong>
  <%= @invoice.invoiceNumber %>
</p>

<p>
  <strong>Totduration:</strong>
  <%= @invoice.totDuration %>
</p>

<p>
  <strong>Paydate:</strong>
  <%= @invoice.payDate %>
</p>

<p>
  <strong>Totaldue:</strong>
  <%= @invoice.totalDue %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
<%= link_to 'Issue Invoice', new_invoice_path(@invoice => { :cf => @customer.cf }) %> |
