<p id="notice"><%= notice %></p>

<p>
  <strong>Cf:</strong>
  <%= @customer.cf %>
</p>

<p>
  <strong>Surname & Name</strong>
  <%= @customer.surname %> <%= @customer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.postcode %> <%= @customer.city %> (<%= @customer.prov %>)
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'New service', new_service_path(@service => { :cf => @customer.cf }) %> |
<%= link_to 'New invoice', new_invoice_path(@invoice => { :cf => @customer.cf }) %> |
<%= link_to 'Back', customers_path %>
